@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

/* App.css yoki index.css */
.print-receipt {
  display: none;
}
@media print {
  body * {
    visibility: hidden !important;
  }
  .print-receipt,
  .print-receipt * {
    visibility: visible !important;
    display: block !important;
  }
  .print-receipt {
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    background: #fff !important;
    z-index: 9999 !important;
    box-shadow: none !important;
    padding: 0 !important;
  }
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
  }
}
